In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('/Users/andrewbadzioch/Desktop/pandasPractice/data/2024schedule.csv')

In [3]:
mlb = df.copy()
mlb.head()

,Date,Num,Day,Visitor,League,Game,Home,League.1,Game.1,Day/Night,Location,Postponed,Makeup
0,20240320,0,Wednesday,LAN,NL,1,SDN,NL,1,n,SEO01,NaN,NaN
1,20240321,0,Thursday,SDN,NL,2,LAN,NL,2,n,SEO01,NaN,NaN
2,20240328,0,Thursday,MIL,NL,1,NYN,NL,1,d,NYC20,NaN,NaN
3,20240328,0,Thursday,ANA,AL,1,BAL,AL,1,d,BAL12,NaN,NaN
4,20240328,0,Thursday,ATL,NL,1,PHI,NL,1,d,PHI13,NaN,NaN

In [4]:
mlb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2430 non-null   int64
 1   Num        2430 non-null   int64
 2   Day        2430 non-null   object
 3   Visitor    2430 non-null   object
 4   League     2430 non-null   object
 5   Game       2430 non-null   int64
 6   Home       2430 non-null   object
 7   League.1   2430 non-null   object
 8   Game.1     2430 non-null   int64
 9   Day/Night  2430 non-null   object
 10  Location   2430 non-null   object
 11  Postponed  0 non-null      float64
 12  Makeup     0 non-null      float64
dtypes: float64(2), int64(4), object(7)
memory usage: 246.9+ KB

**Working with Attributes**
- shape
- size

In [8]:
mlb.shape

(2430, 13)

In [9]:
mlb.size

31590

In [10]:
mlb.iloc[455]

Date         20240430
Num                 0
Day           Tuesday
Visitor           ATL
League             NL
Game               30
Home              SEA
League.1           AL
Game.1             30
Day/Night           n
Location        SEA03
Postponed         NaN
Makeup            NaN
Name: 455, dtype: object