# The Series Object

**Chapter Overview:**
- instantiating Series objects from lists, dictionaries, tuples, and others
- setting a custom index on a Series
- accessing attributes and invoking methods on a Series
- performing mathematical operations on one or more Series
- passing the Series to Python's built-in functions

In [2]:
import pandas as pd
import numpy as np

- Pandas assigns each Series value a label (an identifier used to locate the value)
- the library also assigns each Series value an order (a position in line)
-

### Classes and Instances
- a Class is a blueprint for a Python object
- the pd.Series class is a template, and the next step is to create a concrete instance of it.

In [3]:
# creating an instance from the class
pd.Series()

Series([], dtype: object)

- a constructor is a method that builds an object from a class
- an argument is an imput we pass to a method

- variable = ['Python', 'list']
- pd.Series(variable)
- pd.Series is the constructor and variable is the argument

In [4]:
# Series object from a Python list

# a constructor is a method that builds an object. Here, Series() is the constructor that creates the object

# an argument is an input passed to a method, here the variable

ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Cookies and Cream"]
pd.Series(ice_cream_flavors)

0            Chocolate
1              Vanilla
2           Strawberry
3    Cookies and Cream
dtype: object

- a parameter is a name given to an expected input to a function or method
- it is what shows up witnin the parenthesis for something like pd.Series
- Series constructor parameters: (data, index, dtype, name, copy, fastpath)

In [5]:
# setting a custom index
pd.Series(ice_cream_flavors, index=['monday', 'wednesday', 'friday', 'saturaday'])

monday               Chocolate
wednesday              Vanilla
friday              Strawberry
saturaday    Cookies and Cream
dtype: object

In [6]:
stock_prices = (985.9, 950.43)
time_of_day = ('open', 'close')
pd.Series(data=stock_prices, index=time_of_day)

open     985.90
close    950.43
dtype: float64

In [7]:
# creating a Series from Python object, a dictionary

calorie_info = {
    'Cereal': 125,
    'Chocolate Bar': 406,
    'Ice Cream Sundae': 342,
}
diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [8]:
# creating a Series with a tuple
pd.Series(data=('red', 'green', 'blue'))

0      red
1    green
2     blue
dtype: object

### Series Attributes
- a piece of data belonging  to an object - a characteristic or detail that the data structure can reveal about itself
- shape, size, values, index
- attributes define an object's STATE

In [9]:
diet.values

array([125, 406, 342])

In [12]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [13]:
diet.dtype

dtype('int64')

In [14]:
diet.size

3

### Series methods
- a function that belongs to an object - an action or command that we ask the object to perform. 
- typically involve some analysis, calculation, of manipulation of the the object's attributes
- methods define an object's BEHAVIOR

In [17]:
values = range(0, 200, 5)
nums = pd.Series(values)

In [18]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [19]:
nums.tail(3)

37    185
38    190
39    195
dtype: int64

In [20]:
nums.describe()

count     40.00000
mean      97.50000
std       58.45226
min        0.00000
25%       48.75000
50%       97.50000
75%      146.25000
max      195.00000
dtype: float64

### Mathematical Operations

#### Statistical Operations

In [21]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [22]:
numbers.count()

5

In [23]:
numbers.sum()

15.0

In [24]:
numbers.product()

120.0

In [25]:
numbers.mean()

3.0

In [26]:
numbers.median()

3.0

In [27]:
numbers.std()

1.5811388300841898

#### Arithmetic Operations

In [28]:
s1 = pd.Series([5, np.nan, 15], index = ['a', 'b', 'c'])
s1

a     5.0
b     NaN
c    15.0
dtype: float64

In [29]:
s1+3

a     8.0
b     NaN
c    18.0
dtype: float64

In [30]:
s1-5

a     0.0
b     NaN
c    10.0
dtype: float64

#### Broadcasting

In [32]:
s1 = pd.Series([1,2,3], index=['a','b','c'])
s2 = pd.Series([4,5,6], index=['a','b','c'])

In [33]:
s1 + s2

a    5
b    7
c    9
dtype: int64

In [34]:
s1 == s2

a    False
b    False
c    False
dtype: bool

## Coding Challenge
1. Use the list of superheroes to populate a new Series object.
2. Use the tuple of strengths to populate a new Series object.
3. Create a Series with the superheroes as index labels and the strength levels as
the values. Assign the Series to a heroes variable.
4. Extract the first two rows of the heroes Series.
5. Extract the last four rows of the heroes Series.
6. Determine the number of unique values in your heroes Series.
7. Calculate the average strength of the superheroes in heroes.
8. Calculate the maximum and minimum strengths in heroes.
9. Calculate what each superhero’s strength level would be if it doubled.
10. Convert the heroes Series to a Python dictionary.

In [35]:
superheroes = [
    'Batman',
    'Superman',
    'Spider-Man',
    'Iron Man',
    'Captain America',
    'Wonder Woman'
]
strength_level = (100, 120, 90, 95, 110, 120)

In [36]:
# 1. superheroes to populate a new Series object
pd.Series(superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [37]:
# 2. strengths to populate a new Series object
pd.Series(strength_level)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [41]:
# 3. Create a Series with the superheroes as index labels and the strength levels as
# the values. Assign the Series to a heroes variable
heroes = pd.Series(data=strength_level, index=superheroes)
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [42]:
# 4. Extract the first two rows of the heroes Series
heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [43]:
# 5. Extract the last four rows of the heroes Series
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [46]:
# 6. Determine the number of unique values in your heroes Series
heroes.nunique()

5

In [49]:
# 7. Calculate the average strength of the superheroes in heroes
heroes.mean()

105.83333333333333

In [51]:
# 8. Calculate the maximum and minimum strengths in heroes
print('heroes max:', heroes.max())
print('heroes min:', heroes.min())

heroes max: 120
heroes min: 90

In [52]:
# 9. Calculate what each superhero’s strength level would be if it doubled
heroes*2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [53]:
# 10. Convert the heroes Series to a Python dictionary
heroes.to_dict()

# or dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}